<% layout(
	:title => "Puppet Report for #{@report.host}",
	:stylesheets => %w{css/report.css},
	:scripts => %w{js/report.js},
) %>
<div class="row">
<div class="col-sm-5 col-md-4 col-lg-3">
<div id="summary" class="panel panel-default">
<div class="panel-heading">
	<h2 class="panel-title">Summary</h2>
</div>
<div class="panel-body">
<table class="table table-condensed summary">
	<tr><td class='tlabel'>Host:</td><td class='value'><%= computer_link(@report.computer) %></td></tr>
	<tr><td class='tlabel'>Puppet Version:</td><td class='value'><%= @report.puppet_version %></td></tr>
	<tr><td class='tlabel'>Environment:</td><td class='value'><%= @report.environment %></td></tr>
	<tr><td class='tlabel'>Run Start:</td><td class='value'><%= tlong(@report.time) %></td></tr>
	<tr><td class='tlabel'>Status:</td><td class='value'><%= status_tag(@report) %></td></tr>
</table>
</div><!-- .panel-body -->
</div><!-- #summary .panel -->
<div id="metrics" class="panel panel-default">
<div class="panel-heading">
	<h2 class="panel-title">Metrics</h2>
</div>
<div class="panel-body">
<div class="pill-content-marker">
<% @report.metrics.values_at(*%w{resources time events}).compact.each do |metric| %>
	<div class="tab-pane" id="metrics-<%= metric.name %>">
	<h3 class="tab-head"><%= metric.label %></h3>
	<table class="metrics table table-condensed">
		<% metric.values.each do |name, label, value| %>
			<tr><td class='tlabel'><%= label %></td><td class='value'><%=
			case metric.name
			when 'time' then "%.3f sec" % (value)
			else value
			end %></td></tr>
		<% end %>
	</table>
	</div>
<% end %>
</div><!-- .pill-content-marker -->
</div><!-- .panel-body -->
</div><!-- #metrics .panel -->
</div><!-- .col -->
<div class="col-sm-7 col-md-8 col-lg-9">
<div class="tab-content-marker">
<div id="log" class="tab-pane">
<h2 class="tab-head">Log</h2>
<div class="table-responsive">
<table class="log table table-condensed">
	<head><tr><th>Time</th><th>Level</th><th>Message</th></tr></head>
	<body>
		<% level2bs = { 
			:debug => 'active',
			:info => 'success',
			:notice => '',
			:warning => 'warning',
			:err => 'danger',
			:alert => 'danger',
			:energ => 'danger',
			:crit => 'danger'
		} %>
		<% @report.logs.each do |log| %>
			<tr class="<%= log.level.to_s + ' ' + level2bs[log.level] %>">
				<td><%= tshort(log.time) %></td>
				<td><%= log.level %></td>
				<td><%= h((log.source == 'Puppet' ? '' : log.source + ': ')) %>
				<% if log.message =~ /\A\n/ %>
					<pre><% log.message[1..-1].each_line do |l| %><span class="<%= 
					case l
					when /\A-/ then 'diff1'
					when /\A\+/ then 'diff2'
					when /\A@/ then 'diffloc'
					else 'diff0'
					end
					%>"><%= h(l) %></span><% end %></pre>
				<% else %>
					<%= h(log.message) %>
				<% end %>
				</td>
			</tr>
		<% end %>
	</body>
</table>
</div><!-- .table-responsive -->
</div><!-- #log .tab-pane -->
<div id="resources" class="tab-pane">
<h2 class="tab-head">Resources</h2>
<div class="pill-content-marker">
<% @report.resource_lists.each do |t,rl| %>
	<div class="tab-pane" id="resources-<%= t %>">
	<h3 class="tab-head"><%= t.to_s.to_title %></h3>
	<ul>
		<% rl.each do |r| %>
			<li><%= r.resource || r.containment_path.last %>
			<div class='resource_details'>
				<% if r.file %>
					Source: <a class="resouce_source"><%= h(r.file) %> (<%= r.line %>)</a>
				<% end %>
				<% unless r.events.empty? %>
					<div class="table-responsive">
					<table class="resource_changes table table-condensed">
						<caption>Changed Properties</caption>
						<thead>
							<tr>
								<th>Property</th>
								<th>Old Value</th>
								<th>New Value</th>
								<th>Change Status</th>
							</tr>
						</thead>
						<tbody>
							<% r.events.each do |e| %>
								<td><%= h(e.property) %></td>
								<td><%= h(e.previous_value) %></td>
								<td><%= h(e.desired_value) %></td>
								<td><%= e.status.to_title %></td>
							<% end %>
						</tbody>
					</table>
					</div>
				<% end %>
			</div>
			</li>
		<% end %>
	</ul>
	</div>
<% end %>
</div><!-- .pill-content-marker -->
</div><!-- #resources .tab-pane -->
</div><!-- .tab-content-marker -->
</div><!-- .col -->
</div><!-- .row -->
